*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.header__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header */

.header {
    background-color: #c6d9df;
}

.header__content {
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

.header__title {
    margin-bottom: 25px;
    text-align: center;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.contacts__item {
    margin-bottom: 15px;
    width: 50%;
    display: flex;
}

.contacts__desc {
    font-weight: bold;
    margin-right: 20px;
}

.contacts__link, .course__link {
    text-decoration: none;
    color: #003D74;
}

.contacts__link:hover {
    text-decoration: underline;
}

.avatar {
    width: 250px;
    height: 250px;
}

.avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

/* Sections */

.section {
    margin-bottom: 20px;
}

.sub__title {
    text-align: center;
    margin-bottom: 20px;
}

.skill__item {
    position: relative;
    padding-left: 32px;
    margin-bottom: 5px;
}

.skill__item:last-child {
    margin-bottom: 0;
}

.skill__item:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(50% 50%);
    content: "";
    display: inline-block;
    background-image: url(../img/green-checkmark.svg);
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}

.education__desc {
    margin-bottom: 20px;
}

.course__link{
    display: block;
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.course__link:hover {
    text-decoration: underline;
}

.course__list {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.code {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.language__list {
    display: flex;
    flex-direction: column;
}

.language__item {
    margin-bottom: 20px;
}

.language__item:last-child {
    margin-bottom: 0;
}